SECRET_KEY="CHANGE_ME"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# Local development DB
# DATABASE_URL="sqlite:///./database.db"
# Postgres URL to use in docker compose (production)
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}"

# Local development S3
# S3_ENDPOINT="http://s3:8333"
# Production S3
S3_ENDPOINT="http://s3:8333"
S3_BUCKET=files
S3_ACCESS_KEY=admin
S3_SECRET_KEY=admin

# REDIS_HOST="redis"
# WATCH_PATH="./utils/test_files"
# SNAPSHOT_PATH="./utils/snapshots"

GATEWAY_PORT=4000
STORAGE_NODE_PORT=7001
RECOVERY_MANAGER_PORT=6000

RECOVERY_MANAGER_URL="http://recovery-manager:${RECOVERY_MANAGER_PORT}/recover"
CLIENT_BASE_URL="http://storage-node:${STORAGE_NODE_PORT}"

VITE_GATEWAY_URL="http://gateway:${GATEWAY_PORT}"
